{% extends 'base.html' %}

{% load staticfiles %}

{% block exttitle %}
    专车出行
{% endblock %}

{% block exthead %}
    <link href="{% static 'reserve/special-car.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="bgimgwrapper" style="background-image: url({% static 'reserve/bgb.jpg' %})"></div>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <i class="glyphicon glyphicon-chevron-left returnicon pull-left"
                       onclick="location.href='{% url 'index' %}'"></i>
                    <p class="h4" style="color: white; font-weight: 600">专车出行</p>
                </div>
            </div>
        </div>
    </header>

    <section class="travel">

        <div class="container-fluid">
            <div class="row travel-header">
                <p class="h4" style="line-height: 30px">当前可用专车数：<span class="canum">{{ carnum }}</span>&nbsp;辆</p>
            </div>
            <div class="row order">
                <label for="choicePlace" class="choiceLabel" id="label1"><i class="glyphicon glyphicon-send"
                                                                            style="color: #ffb81a"></i>&nbsp;&nbsp;选择目的地</label>
                <select class="form-control order-choice" id="choicePlace" onchange="choice('label1')">
                    <option hidden></option>
                    {% for place in place_list %}
                        <option value="{{ forloop.counter }}">{{ place }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="choiceTime" class="choiceLabel" id="label3"><i class="glyphicon glyphicon-time"
                                                                           style="color: #00ff09"></i>&nbsp;&nbsp;选择出发时间</label>
                <select class="form-control order-choice" id="choiceTime" onchange="choice('label3')">
                    <option hidden></option>
                    <option value="0">即刻</option>
                    {% for t in times %}
                        <option value="{{ t.pk }}">{{ t.starttime }} -- {{ t.endtime }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="choiceUserNum" class="choiceLabel" id="label2"><i class="glyphicon glyphicon-question-sign"
                                                                              style="color: deepskyblue"></i>&nbsp;&nbsp;是否拼车</label>
                <select class="form-control order-choice" id="choiceUserNum" onchange="choice('label2')">
                    <option hidden></option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
            {% if nowpk %}
                <section onclick="location.href='{% url 'specailcarmatch' nowpk %}'" style="cursor: pointer;">
                    <div class="alert alert-info alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        您有正在进行专车匹配，点击进入
                    </div>
                </section>
            {% endif %}
            <div class="row makeorder text-center">
                <button class="btn btn-lg btn-order" onclick="onSubmit()">开始匹配</button>
            </div>
        </div>

    </section>

    <script>
        function choice(tagName) {
            console.log(tagName);
            $('#' + tagName)[0].innerHTML = '';
        }

        function onSubmit() {
            const choiceTag = $('#choicePlace');
            if (choiceTag.val() === '') {
                alert("请先选择地点");
                return false;
            }
            $.post('{% url 'specialcartravel' %}', {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                place: choiceTag.val()
            }, function (data) {
                if (data['status'] === 1) {
                    location.href = '{% url 'specialcartravel'  %}' + data['carpk'];
                } else if (data['status'] === -1) {
                    alert("您有进行中的专车申请");
                } else {
                    alert("当前无可用车辆");
                }
            }, "json");
        }
    </script>
{% endblock %}