{% extends 'base.html' %}

{% load staticfiles %}

{% load ucenter %}

{% block exttitle %}
    个人中心
{% endblock %}

{% block exthead %}
    <link href="{% static 'ucenter/ucenter.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ucenter/iconfont.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="bgimgwrapper" style="background-image: url({% static 'ucenter/bg2.jpg' %})"></div>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <i class="glyphicon glyphicon-chevron-left returnicon"
                       onclick="location.href='{% url 'index' %}'"></i>
                </div>
            </div>
            <div class="row userinfo text-center">
                <img src="{% static 'ucenter/avatar.png' %}" class="img-circle avatar">
                <p class="h5 username">手机号：{{ user.username }}</p>
            </div>
        </div>
    </header>

    <section class="record">
        <div class="container-fluid">
            <div class="row text-center">
                <h5 style="font-weight: bold">乘车记录</h5>
            </div>
            <div class="row text-center statusnav">
                <div class="col-xs-6">
                    <p class="activenav" id="nownav">进行中</p>
                </div>
                <div class="col-xs-6">
                    <p id="donenav">已完成</p>
                </div>
            </div>
            <div class="row" id="now">
                <div class="col-xs-12">
                    {% for reserve in user.get_now_reserve %}
                        {% parse_single_reserve_wrapper_obj reserve as sbs %}
                        <div class="media recordli" style="cursor: pointer"
                        {% if reserve.reserve_type == 1 %}
                            onclick="location.href='{% url 'schoolbusreservesuccess' reserve.reserve_pk %}'"
                        {% else reserve.reserve_type == 2 %}>
                        {% endif %}
                            <div class="media-left">
                                <a>
                                    <img src="{% static 'ucenter/1.png' %}" class="media-object" style="margin-top: 10px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">预约时间：{{ sbs.date_reserve | date:'m.d日H:i' }}</h4>
                                <p style="color: #8f8f8f">类型：{% if reserve.reserve_type == 1 %}校车{% else %}专车{% endif %}</p>
                                <p style="color: #8f8f8f">发车时刻：{{ sbs.schoolbus.schedule.date_schedule }}</p>
                            </div>
                        </div>
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="listfooter">
        <div class="container-fluid">
            <div class="listfooterli">
                <p><i class="icon iconfont icon-dianhua" style="color: orange"></i>&nbsp;&nbsp;联系我们<i
                        class="glyphicon glyphicon-chevron-right pull-right goto"></i></p>
            </div>
            <div class="listfooterli">
                <p><i class="icon iconfont icon-shu" style="color: orangered"></i>&nbsp;&nbsp;使用协议<i
                        class="glyphicon glyphicon-chevron-right pull-right goto"></i></p>
            </div>
        </div>
    </section>


    <script>
        let nownavtag = $('#nownav');
        let donenavtag = $('#donenav');
        nownavtag.click(function () {
            nownavtag.addClass('activenav');
            donenavtag.removeClass('activenav');
        });
        donenavtag.click(function () {
            donenavtag.addClass('activenav');
            nownavtag.removeClass('activenav');
        });
    </script>
{% endblock %}